body {
    padding-left: 5%;
}

#map {
    height: 480px;
    width: 640px;
}

.legend {
    color: #000000;
    line-height: 18px;
}

.legend i {
    width: 18px;
    height: 18px;
    float: left;
    margin-right: 8px;
    opacity: 0.5;
}
